<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body>
      {{ partial "header" . }}
      <section class="section content">
            <h2 class="list-title">
                {{ if eq .Data.Singular "tag"}}<i class="fa fa-tag" aria-hidden="true"></i>{{ end }}
                {{ if eq .Data.Singular "category"}}<i class="fa fa-folder-open-o" aria-hidden="true"></i>{{ end }}
                {{ .Title }}
            </h2>
            <ul class="list">
                {{ range .Pages.GroupByDate "2006" "desc" }}
                    <li class="groupby">{{ .Key }}</li>
                    {{ range .Pages.ByDate.Reverse }}
                        {{ partial "li" .}}
                    {{ end }}
                {{ end }}
            </ul>
      </section>
      {{ partial "footer" . }} 
  </body>
</html>