<!DOCTYPE html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    {{ partial "header" . }}
    {{ if .Params.warning }}
    <script type="text/javascript" defer="">
      var showContent = function() {
        document.getElementsByTagName("article")[0].setAttribute("style", "filter: none;");
        document.getElementById("indicator").setAttribute("style", "display: none;");
        document.getElementById("disqus").setAttribute("style", "filter: none;");
      }
    </script>
    <div id="indicator" align="center">
      <div id="warning">
          <p>{{.Params.warning}}</p>
          <a onclick="javascript:showContent();" class="button" >
            <i class="fa fa-key" aria-hidden="true"></i>
            >>> 
            <i class="fa fa-lock" aria-hidden="true"></i>
          </a>
      </div>
    </div>
    <article class="section" style="filter:blur(8px);">
    {{ else }}
    <article class="section">
    {{ end }}
      <h1 class="title">{{ .Title }}</h1>
        {{ if eq .Params.noDate true}} {{ else }}
        <time class="meta">{{ .Date.Format .Site.Params.dateformfull }}</time>
        {{ end }}
      <div class="meta">
        {{if .Params.categories }}
          <span class="metagroup">
            {{ range $index, $category := .Params.categories }}
            {{ if gt $index 0 }}, {{ end }}
            <i class="fa fa-folder-o" aria-hidden="true"></i>
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize | lower }}" rel="category">{{ . }}</a>
            {{ end }}
          </span>
        {{end }}
        {{if .Params.tags }}
          <span class="metagroup">
            {{ if gt (len .Params.tags) 1 }}
              <i class="fa fa-tags" aria-hidden="true"></i>
            {{ else }}
              <i class="fa fa-tag" aria-hidden="true"></i>
            {{ end }}
            {{ range $index, $tag := .Params.tags }}
              {{ if gt $index 0}}
                <span id="tagcomma">,</span>
              {{ end }}
              <a href="/tags/{{ . | urlize }}/" rel="tag">{{ . }}</a>
            {{ end }}
          </span>
        {{end }}
      </div>
      <main class="content entry-content entry clearfix">
        {{ .Content }}
      </main>
    </article>
    {{ if eq .Params.noComment true }} {{ else }}
    {{ partial "disqus" . }}
    {{ end }}
    {{ partial "footer" . }}
    {{ if .Params.indent2Char }}
      <style type="text/css">
      <!-- 
        main p{
          text-indent: 2em;
        }
      -->
      </style>
    {{ end }}
  </body>
</html>