    <div id="homeWhite" style="margin-top:30px"></div>
    <header class="section">
      <nav class="nav">
        <div class="nav-left">
          <h1 class="page-title">
            <a class="nav-item" href="/">{{ .Site.Title }}</a>
          </h1>
        </div>
        <div class="nav-right">
            <a class="level-item" href="/post/index.xml" target="_blank">
              <span class="icon">
                <i class="fa fa-rss"></i>
              </span>
            </a>
        </div>
      </nav>
    </header>