    <div id="homeWhite" style="margin-top:30px"></div>
    <header class="section">
      <nav class="nav">
        <div class="nav-left">
          <h1 class="page-title">
            <a class="nav-item" href="/">{{ .Site.Title }}</a>
          </h1>
        </div>
        <div class="nav-right">
          {{ if .IsNode }}
            <a class="level-item" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" target="_blank" type="application/rss+xml">
              <span class="icon">
                <i class="fa fa-rss"></i>
              </span>
            </a>
          {{ end }}
        </div>
      </nav>
    </header>